/* Colors */

:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: hsl(190, 190%, 190%);
    --inputColor: hsl(330, 12%, 97%);
}

.home{
    height: 80vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), 
    url('../../Assets/img/pexels-photo-2174656.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .secContainer{
        .homeText{
            text-align: center;
            .title{ 
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;

                

            }

            .subTitle{
                color: var(--whiteColor);
                opacity: .9;
                font-size: 13px;
                font-weight: 300;
                max-width: 70%;
                text-align: center;
                padding: 1rem 0;
                margin: auto;
            }
        }

        .homeCard{
            width: 80%;
            background-color: var(--whiteColor);
            gap: 1rem;
            padding: 2rem;
            border-radius: 1.5rem;
            position: absolute;
            transform: translate(-50%);
            left: 50%;
            bottom: -30%;
            box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.4);

            .loacationDiv, .distDiv, .priceDiv{
                display: flex;
                flex-direction: column;
                width: 100%;
                label{
                    display: block;
                    font-weight: 500;
                    color: var(--textColor);
                    font-size: 13px;
                    padding-bottom: .4rem;
                }
                input{
                    width: 100%;
                    border-radius: 10px;
                    background: var(--inputColor);
                    border: none;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 13px;
                
                    &::placeholder{
                        font-weight: 400;
                        font-size: 13px;
                        opacity: .5;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                

            }

            .btn{
                width: 100%;
                padding: .6rem 1.5rem;
                font-weight: 600;
                color: var(--whiteColor);
            }
        }
    }
}
